<div class="nav">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-right hidden-xs">
                <div class="scrollWrapper">
                    <div class="scroller"></div>
                </div>
            </div>


            <div class="metaNavi">
                <nav class="lang">
                    <f:cObject typoscriptObjectPath="lib.langSwitch" />
                </nav>
                <nav class="meta">
                    {metaNavi -> f:format.raw()}
                </nav>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav">
                    {mainNavi -> f:format.raw()}
                </ul>
            </div>
        </div>
    </nav>
</div>
