<div class="wrapper">
    <header class="container">

        <f:render partial="Header" arguments="{_all}"></f:render>

    </header>

    <f:render partial="Navigation" arguments="{_all}"></f:render>

    <div class="container stage">

        <f:render section="stage"/>

    </div>

    <f:if condition="{layout} == 1">
        <f:if condition="{data.tx_mask_quickform_show} == 1">
            <f:cObject typoscriptObjectPath="lib.quickform"></f:cObject>
        </f:if>
    </f:if>


    <f:cObject typoscriptObjectPath="lib.breadCrumb"></f:cObject>

    <div class="container content">

        <f:render section="main"/>

    </div>

    <footer class="container">

        <f:render partial="Footer" arguments="{_all}"></f:render>

    </footer>

    <!-- Metamenu -->
    <nav class="meta">
        {metaNaviFooter -> f:format.raw()}
    </nav>

</div>
