@import 'https://fonts.googleapis.com/css?family=Signika:300,600';

$font-family-base: 'Signika', sans-serif;

// Define font weight
$headings-font-weight: 600;

body {
  font-weight: 300;
  font-family: $font-family-base;
}
