//
// Variables for Fetscher Projekt
//

$wrapper-max-width: 1200px;
$header-bg: #F8F8F8;
$body-bg: #F8F8F8;
$border-radius-base: 0;

$default-transition-property: all;
$default-transition-duration: 0.3s;
$default-transition-ease: linear;

$default-transition: $default-transition-property $default-transition-duration $default-transition-ease;

//
// Font-size
//
$font-size-base:          15px;
// $font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~19px
// $font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~13px

$font-size-h1:            floor(($font-size-base * 2)); // ~30px
$font-size-h2:            floor(($font-size-base * 1.6666666667)); // ~25px
$font-size-h3:            ceil(($font-size-base * 1.33333)); // ~20px
// $font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
// $font-size-h5:            $font-size-base !default;
// $font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-weight-bold: 600;

//
// Colors
//
$white: #ffffff;
$orange: #F17200;
$orange-dark: darken($orange, 10%);
$grey: #9Da79F;
$grey-dark: #333333;
$grey-special: #4d4d4d;
$grey-middle: #878787;
$blue: #00a5e9;
$blue-light: #dbeefb;
$blue-dark: #c2cdd5;

$brand-warning: $orange;

$link-hover-decoration: underline;
$link-color: $grey-dark;

//
// Langmenu
//
$flag-opacity: 0.4;
$flag-border: thin solid white;

$meta-menu-color: $grey-middle;
$home-icon-width: 40px;
$home-icon-border: 1px solid $meta-menu-color;

//
// Navbar
//
$navbar-height: 45px;
$navbar-margin-bottom: 0;
$navbar-default-color: white;
$navbar-default-bg: $orange;
$navbar-default-border: white;
// Navbar links
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $orange-dark;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $orange-dark;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $orange;
$navbar-default-toggle-icon-bar-bg:        white;
$navbar-default-toggle-border-color:       none;

$item-min-width: 160px;

//
// Stage
//
$stage-bg-color: $grey;
$stage-sm-bottom: 70px;

//
// Quick form
//
$quickform-width: 352px;
$quickform-toggle-height: 45px;

//
// Footer
//
// $footer-color: $text-color;
$footer-bg-color: $header-bg;

$superfooter-color: white;
$superfooter-bg-color: $blue-dark;


// Breadcrumb
//

//$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: $white;
$breadcrumb-color: #868686;
$breadcrumb-active-color: $grey-dark;
$breadcrumb-separator: '|';
