$icon-font-path: '../fonts/';
// Fetch variables
@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fetch mixins
@import "mixins";

// Fetch font-settings
@import "fonts";

$fa-font-path: "../fonts";

@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/*==============================
=            Layout            =
==============================*/

body {
  padding-bottom: 10px;

  .wrapper {
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25)
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .wrapper {
      max-width: $wrapper-max-width;

      .container {
        max-width: $wrapper-max-width - $grid-gutter-width;
        width: auto;
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;

        &.affix {
          max-width: $wrapper-max-width;
        }
      }
    }
  }
}



// Images
@import "elements/responsive_images";

// Fetch header styles
@import "elements/header";

// Fetch navigation styles
@import "elements/navigation";

// Fetch stage styles
@import "elements/stage";

// Fetch quickform styles
@import "elements/quickform";

// Fetch form styles
@import "elements/forms";

// Fetch content styles
@import "elements/content";

// Fetch footer styles
@import "elements/footer";

// Spacer Element (Mask)
@import "elements/spacer_mask";

// EXT:cookieconsent2
@import "extensions/cookieconsent2";

// Partials
@import "partials/breadcrumb";
