//
// Header styles
//
header.container {
  min-height: 119px;
  background-color: $header-bg;
  position: relative;

  .logoWrap {
    margin: 41px 23px 0;
    max-width: 50%;

    .logo {
      img,
      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .claim {
    font-size: 0.8em;
  }


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .logoWrap {
      margin-top: 0;
      max-width: 60%;
    }
    .claim {
      font-size: 1.2em;
    }
    .logo {
      padding: 16px 0 16px 32px;
      max-width: 361px;
    }
  }

  @media screen and (min-width: 450px) {
    .claim {
      font-size: 1em;
    }
  }

}


.metaNavi {
  text-align: right;
  font-size: $font-size-small;
  border: solid white;
  border-width: 0 0 1px;

  margin-right: -$grid-gutter-width/2;
  margin-left: -$grid-gutter-width/2;

  padding: 0 $grid-gutter-width/2;

  background: lighten($orange, 5%);

  color: $grey-dark;

  a {
    color: $grey-dark;
  }

  nav.lang {
    position: absolute;
    z-index: 12;
    right: 15px;
    top: -80px;


    li {
      min-width: 0;
      opacity: $flag-opacity;
      transition: $default-transition;

      &:hover,
      &.active {
        opacity: 1;
      }

      img {
        border: $flag-border;
      }
    }
  }

  nav.meta {
    display: none;

    a {
      margin-right: $grid-gutter-width/2;
    }
  }

  /* Responsive: MINI | < 320 */
  @media screen and (max-width: 320px) {
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    position: absolute;
    top: -98px;
    right: $grid-gutter-width/2;
    background: none;
    border: none;
    width: 178px;
    text-align: left;

    color: $meta-menu-color;
    a {
      color: $meta-menu-color;
    }

    nav.lang {
      text-align: left;
      float: none;
      position: static;
    }
    nav.meta {
      display: block;

      a.btn {
        display: block;
        padding: 0;
        text-align: left;
        font-size: $font-size-small;
      }

      // homelink
      a:first-child,
      a[href="/"] {
        position: absolute;
        left: -$home-icon-width;
        width: $home-icon-width;
        height: $home-icon-width;
        text-align: center;
        border-radius: 4px;
        border: $home-icon-border;
        font-size: $font-size-large;
        padding-top: 7px;
      }
    }
  }
}
